
img{
    max-width:100%;
    max-height:100%;
}

#helpers-card-container{
    width:900px;
    align-items:center;
    padding:50px 100px;
    margin:0 300px;
}

#helpers-card-container .card{
    width:700px;
    display:inline-block;
    margin:50px 0;
    background-color:rgba(0, 73, 83,0.8);
    color:white;
}

.status{
    text-align:center;
    font-size:20px;
    font-weight:bold;
}

.status span{
    color:#42ba96;
}

.card-title{
    font-weight:bolder;
    margin:0 0 0 30px;
}

.card-text{
    font-size:20px;
    font-weight:bold;
    border-bottom:2px solid white;
    margin:0 0 20px 30px;
    padding:0 0 20px 0;
}

.card-status{
    padding:0 0 0 30px;
}

.btn-container{
    display:flex;
    justify-content:center;
    text-decoration:none;
}

.card-status{
    font-size:20px;
    font-weight:bold;
    text-align:left;
}

.fa-xmark{
    margin:0 8px 0 0;
}

.fa-check{
    margin:0 8px 0 0;
}

.cancel-request-btn, .service-complete-btn, .accept-request-btn{
    border:2px solid white;
}

.cancel-request-btn{
    width:160px;
    height:40px;
    border-radius:6px;
    display:inline-block;
    background-color: crimson;
    color:white;
    transition:0.8s all;
}

.service-complete-btn{
    width:200px;
    height:40px;
    border-radius:6px;
    display:inline-block;
    background-color:#42ba96;
    color:white;
    transition:0.8s all;
}

.card-body .wrapper{
    display:flex;
    justify-content:space-evenly;
}

.accept-request-btn{
    width:160px;
    height:40px;
    display:inline-block;
    border-radius:6px;
    background-color:#42ba96;
    color:white;
    transition:0.8s all;
}

.accept-request-btn:hover{
    transform:scale(1.2);
}

.cancel-request-btn:hover{
    transform:scale(1.2);
}

.service-complete-btn:hover{
    transform:scale(1.2);
}

.card-image-container{
    width:400px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
    margin:0 10px 0 0;
}

.card{
    padding: 20px 20px;
}


@media (max-width:450px){
    
    #helpers-card-container{
        width:100%;
        align-items:center;
        margin:0;
        padding:0;
    }
    
    #helpers-card-container .card{
        width:92%;
        display:inline-block;
        background-color:rgba(0, 73, 83,0.8);
        color:white;
        margin:5% 4%;
    }
    
    .status{
        text-align:center;
        font-size:1.2rem;
        font-weight:bold;
    }
    
    .status span{
        color:#42ba96;
    }
    
    .card-title{
        font-weight:bolder;
        text-align:left;
        font-size:1.6rem;
    }
    
    .card-text{
        font-size:1.2rem;
        font-weight:100;
        border-bottom:2px solid white;
        margin:0 0 20px 30px;
        padding:0 0 20px 0;
    }
    
    .btn-container{
        display:flex;
        justify-content:center;
        text-decoration:none;
    }
    
    .card-status{
        font-size:1.2rem;
        font-weight:100;
        text-align:left;
        padding:0 0 0 30px;
    }
    
    .card-image-container{
        width:100px;
        height:100px;
        border-radius:50%;
        object-fit:cover;
        margin:0 0 0 100px;
    }

    .status{
        margin:25px 0 0 0;
    }

    .cancel-request-btn{
        width:140px;
        font-size:0.8rem;
        height:40px;
        border-radius:6px;
        display:inline-block;
        background-color: crimson;
        color:white;
        transition:0.8s all;
        margin:0 0 0 5px;
    }
    
    .accept-request-btn{
        width:140px;
        height:40px;
        font-size:0.8rem;
        display:inline-block;
        border-radius:6px;
        background-color:#42ba96;
        color:white;
        transition:0.8s all;
        margin:0 5px 0 0;
    }

    .service-complete-btn{
        width:200px;
        height:40px;
        margin:25px 0 0 0;
        border-radius:6px;
        display:inline-block;
        background-color:#42ba96;
        color:white;
        transition:0.8s all;
    }
} 